.bungkus{
    display: flex;
}

.kotak{
    background-color: red;
    margin: 10px;
    border-radius: 20px;
}

.gambar-produk{
    width: 120px;
    height: 120px;
    margin: 10px;
}

.nama-produk{
    font-family: monospace;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.harga-produk{
    font-family: monospace;
    color: white;
    font-size: 25px;
    font-style: bold;
    padding: 10px;
}